/* .App {
  text-align: center;
} */

body {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 15px;
}

/* header.tsx */
.header {
  display: flex;
  margin-top: 10px;
  padding-bottom: 10px;
}

.header-left {
  flex: 4;
}

.header-right {
  flex: 5;
}

.header-right > span {
  margin-right: 50px;
}

/* main.tsx */

.main-element {
  margin-bottom: 30px;
}

/* main.tsx - who we are */
.we {
  display: flex;
  gap: 30px;
}

.we > * {
  flex: 1;
}

.we-img{
  height: calc((80vw - 30px) / 698 * 450 / 2);
  background-image: url('/src/img/who.png');
  background-size: calc((80vw - 30px) / 2) calc((80vw - 30px) / 698 * 450 / 2);
}

/* main.tsx - core value */
.value {
  display: flex;
  gap: 20px;
}

.value-element {
  flex: 1;
  background-color: white;
  border-radius: 5px;
  padding: 20px 10px;
}

.value-element b {
  text-transform: uppercase;
}

/* main.tsx - our product */
.product {
  position: relative;
  height: calc(80vw * 543 / 1438);
  background-image: url('/src/img/product.png');
  background-size: 80vw calc(80vw * 543 / 1438);
}

.product-main {
  text-align: center;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  padding: 40px 20px;
  margin-right: 80px;
}

.product-main b {
  font-size: 1.125rem;
}

#product-button {
  margin-top: 30px;
}

/* main.tsx - contact */
.contact {
  display: flex;
  column-gap: 15px;
}

.contact b {
  font-size: 22px;
}

.contact > * {
  flex: 1;
}

.contact-info {
  padding-top: 25px;
}

.contact-info > :first-child {
  margin-left: 15px;
}

.contact-info-data {
  margin: 25px 0;
  display: flex;
}

.contact-info-data > :first-child {
  width: 50px;
  justify-self: center;
}

.contact-info p {
  margin: 0;
}

.contact-message {
  background-color: white;
  padding: 10px 25px;
  border-radius: 5px;
  position: relative;
}

.button {
  width: 100px;
  background-color: rgb(92, 143, 247);
  border-radius: 7px;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#contact-button {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 50px);
  display: inline-block;
}

/* footer.tsx */
.footer-1 {
  display: flex;
  justify-content: center;
  column-gap: 20vw;
}

.footer-1-a {
  align-self: center;
  background-image: url("img/logo.png");
  background-size: 200px 200px;
  height: 200px;
  width: 200px;
}

.footer-1-b {
  display: flex;
  align-self: center;
}

.footer-2 {
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 480px) {
  .footer-1 {
    flex-direction: column;
  }

  .footer-1-b {
    margin-top: 10px;
    align-self: center;
  }

  .footer-2 {
    display: flex;
    flex-direction: column;
  }
}
.logo {
  width: 36px;
  height: 36px;
}

.logo.li {
  background-image: url("../src/img/linkedin.svg");
}

.logo.fb {
  margin: 0 10px;
  background-image: url("../src/img/facebook.svg");
}

.logo.in {
  background-image: url("../src/img/instagram.svg");
}
