.App {
  text-align: center;
}

/* header.tsx */
.footer-1 {
  display: flex;
  justify-content: center;
  column-gap: 20vw;
  margin-bottom: 15px;
}

.footer-1-a {
  align-self: center;
}

.footer-1-b {
  display: flex;
}

@media screen and (max-width: 480px) {
  .footer-1 {
    flex-direction: column;
  }

  .footer-1-b {
    margin-top: 10px;
    align-self: center;
  }

  .footer-2 {
    display: flex;
    flex-direction: column;
  }
}
.logo {
  width: 36px;
  height: 36px;
}

.logo.li {
  background-image: url("../src/img/linkedin.svg");
}

.logo.fb {
  margin: 0 10px;
  background-image: url("../src/img/facebook.svg");
}

.logo.in {
  background-image: url("../src/img/instagram.svg");
}
